* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  padding: 0px 1rem;
}

.btn {
  color: #fff;
  background: #222;
  padding: 2px 25px;
  cursor: pointer;
}

.btn:hover {
  background: #444;
}
